* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*colors*/
    --marine:rgb(51, 110, 130);
    --green: rgb(142, 166, 4);
    --orange-yellow: rgb(245, 187, 0);
    --marigold: rgb(236, 159, 5);
    --chocolate-web: rgb(215, 106, 3);
    --light-grey: rgb(219, 230, 232);
    --blue: rgb(58, 180, 242);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--marine);
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

h1, p, li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    cursor: pointer;
    border: none;
}

header {
    background-color: var(--green);
    width: 100%;
    height: auto;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.6rem;
}

header li {
    display: flex;
    flex-direction: row;
}

header li ul {
    padding-left: 20px;
    cursor: pointer;
}

#randomDogs, #favDogs {
    background-color: rgb(237, 244, 244);
    width: 100%;
    height: auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#randomDogs h1 {
    font-size: 4rem;
    margin: 0 auto;
    color: rgb(62, 62, 62);
}

.randomDog__container {
    background-color: var(--light-grey);
    width: 100%;
    height: auto;
    margin: 30px 0;
}

.randomDog__item {
    background-color: whitesmoke;
    width: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 20px;
    box-shadow: rgba(152, 166, 174, 0.1) 0px 3px 5px;
}

.image__container {
    width: 250px;
    height: 300px;
    margin-bottom: 20px;
    background-color: var(--light-grey);
}

.randomDog__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
}

.reload__button {
    background-color: var(--marigold);
    height: 40px;
    border-radius: 50px;
    color: whitesmoke;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 5px;
}

.reload__button:hover {
    background-color: rgb(235, 168, 34);
}

.fav__button {
    color: white;
    position: absolute;
    background-color: transparent;
}

.iconify {
    padding: 5px;
    margin: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--blue);
    border-radius: 100%;
}

.iconify:hover {
    background-color: rgb(94, 189, 236);
}

#error {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--chocolate-web);
    font-size: 8rem;
    margin: 0 auto;
}